# ⬇⬇⬇ Python ⬇⬇⬇

# Entorno virtual
venv/
.env/
*.pyc
__pycache__/
*.pyo
*.pyd
*.cache
*.egg
*.egg-info/
dist/
build/

# Archivos de configuración y logs
*.log
*.sqlite3
*.db
*.sqlite
.DS_Store
config.json
secrets.json
.envrc